{% extends ('base.html.twig') %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oups! La page que vous recherchez n'existe pas !</h1>
        <p class="my-4">Vous pouvez retourner à l'acceuil ou voir nos annonces</p>
        <a href="{{ path('homepage') }}" class="btn btn-outline-primary">Acceuil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-outline-info ml-2">Annonces</a>
    </div>
{% endblock %}